// This file contains all the variables used in the project.
$color-gray-900: #111827;
$color-gray-800: #1f2937;
$color-gray-700: #374151;
$color-gray-600: #4b5563;
$color-gray-400: #9ca3af;
$color-gray-200: #e5e7eb;
$color-gray-100: #f3f4f6;
$color-gray-50:  #f9fafb;

$color-dark-950: #030712;
$color-dark-300: #d1d5db;

$color-white: #ffffff;
$color-black: #000000;
$color-success: #10b981;
$color-error:   #ef4444;


$color-white-transparent: rgba(255, 255, 255, 0);
$dark-transparent: rgba(0, 0, 0, 0);
$color-black-transparent: rgba(0, 0, 0, 0);
$color-dark-light-overlay: rgba(249, 250, 251, 0.1);

